<header>
  <dx-toolbar class="header-toolbar">
    <dxi-item
      location="before"
      locateInMenu="never"
      menuItemTemplate="menuItem">
      <div *dxTemplate="let data of 'item'">
        <h2>Welcome to SRFreed Consulting!</h2>
      </div>
    </dxi-item>    
    <dxi-item
      location="after"
      locateInMenu="never"
      menuItemTemplate="menuItem">
      <div *dxTemplate="let data of 'item'">
        <a href="mailto:youremail@example.com" class="email-button">Contact Me</a>
      </div>
    </dxi-item>    
  </dx-toolbar>
</header>
