<div class="skills">
  <div class="core-skills">
    <div class="row content-row">
      <div class="col-2 title"><p>CORE SKILLS</p></div>
      <div class="col-8">
        <div class="row square-row">
          <div class="col-4 square yellow">
            <div class="square__title"><b>Experienced Technical Team Leader</b></div>
            <div class="square__subtitle"><p>Great at team building, coaching, training (formal and informal), and technical, customer, product, and maintenance management.</p></div>
          </div>
          <div class="col-4 square">
            <div class="square__title"><b>Capable Agile Leader</b></div>
            <div class="square__subtitle"><p>10+ years of involvement with Agile development projects. Served as Product Owner, SCRUM Master, and/or Team Member. Experience with building and grooming backlogs, managing Daily SCRUM activities, Sprint Planning, Sprint Review, and Sprint Retrospective meetings. Also, experienced using Agile management tools such as Atlassian toolset for project and code management.</p></div>
          </div>
          <div class="col-4 square yellow">
            <div class="square__title"><b>Requirements Analysis & Solution Architecting</b></div>
            <div class="square__subtitle"><p>Ability to interact with Architects, Project Managers, Business Analysts, and Software Developers to create valuable and maintainable customer solutions.</p></div>
          </div>
        </div>
        <div class="row square-row">
          <div class="col-4 square">
            <div class="square__title"><b>Experienced in Application Modernization</b></div>
            <div class="square__subtitle"><p>Proven track record of rearchitecting applications for the cloud. Excellent understanding of Serverless technologies, and migrating monolithic applications to the cloud-based Micro-Services</p></div>
          </div>
          <div class="col-4 square yellow">
            <div class="square__title"><b>Strict devotion to maintaining Quality Standards</b></div>
            <div class="square__subtitle"><p>Developing Best Practices for development teams, Quality Assurance teams, and architecture teams.</p></div>
          </div>
          <div class="col-4 square">
            <div class="square__title"><b>Excellent presentation, written, and oral skills</b></div>
            <div class="square__subtitle"><p>Ability to communicate technical issues to non-technical people.</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hl"></div>
  <div class="toolbox">
    <div class="row content-row">
      <div class="col-12 title"><p>TOOLBOX</p></div>
      <div class="col-8">
        <div class="row justify-content-md-center my-1">
          <div class="col-12 col-sm-6 col-xl-4 mb-2">
              <div class="card">
                  <div class="card-body">
                      <h5 class="ng-star-inserted">Programming languages</h5>
                      <ul>
                          <li>JAVA / JEE</li>
                          <li>Typescript, JavaScript, Functional programming</li>
                          <li>T/SQL (SQL Server, Sybase), PL/SQL (Oracle)</li>
                          <li>Python and Bash Scripting</li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-12 col-sm-6 col-xl-4 mb-2">
              <div class="card">
                  <div class="card-body">
                      <h5 class="ng-star-inserted">Development tools &amp; CI/CD</h5>
                      <ul>
                          <li>VSCode, IntelliJ IDE, Eclipse</li>
                          <li>Gradle, Maven, JUnit 4/5, Mockito, Hamcrest</li>
                          <li>Git, Github, Bitbucket, Subversion</li>
                          <li>GitHub Actions, Sonar Qube, Jenkins, Chef</li>
                          <li>Atlassian Tools (Jira, Confluence, Fisheye, Service Desk)</li>
                          <li>Sparx Systems Enterprise Architect</li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-12 col-sm-6 col-xl-4 mb-2">
              <div class="card">
                  <div class="card-body">
                      <h5 class="ng-star-inserted">Enterprise Tools &amp; Frameworks</h5>
                      <ul>
                          <li>Kafka /streams, RabbitMQ, Elasticache, Memcache, GraphQL</li>
                          <li>Spring Framework - Boot, Data, JPA, Batch, Security, REST, MVC</li>
                          <li>Hibernate ORM, Eclipse Link JPA</li>                    
                          <li>Monitoring - DataDog, Splunk</li>
                          <li>Apache Camel, Drop Wizard</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="row justify-content-md-center">
          <div class="col-12 col-sm-6 col-xl-8 my-2">
              <div class="card">
                  <div class="card-body">
                      <h5 class="ng-star-inserted">Cloud and CI/CD</h5>
                      <ul>
                          <li>AWS - Lambda, SQS, SNS, Beanstalk, Step-Functions, RDS, DynamoDB, S3, IAM, EKS, Kenesis</li>
                          <li>GCP - Cloud Run, Cloud Functions, App Engine, API Gateway, SQL, Scheduler, IAM, Apigee, PUB/SUB</li>
                          <li>Firebase - Firestore, Firestorage, Hosting, Functions, Git Integration, Auth</li>
                          <li>Artifactory, Docker, Docker Desktop, Kubernetes</li>
                          <li>GitHub Actions, Jenkins</li>
                      </ul>
                  </div>
              </div>
          </div>        
          <div class="col-12 col-sm-6 col-xl-4 my-2">
              <div class="card">
                  <div class="card-body">
                      <h5 class="ng-star-inserted">User interface (UI)</h5>
                      <ul>
                          <li>AngularJS / Angualar 2+, Node, NPM</li>
                          <li>Async Programming - RxJs (subscriptions, promises, pipes, streams)</li>
                          <li>DevExpress, Html, Css, LESS, SASS</li>
                          <li>Active Objects, Knockout / Durandal</li>
                          <li>jQuery, jqWidgets, JSPlumb, GSON</li>
                          <li>Google Maps API, jChart API, POI</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="row justify-content-md-center my-1">
          <div class="col-12 col-sm-6 col-xl-4 my-2">
              <div class="card">
                  <div class="card-body">
                      <h5 class="ng-star-inserted">Databases (SQL &amp; NoSQL)</h5>
                      <ul>
                          <li>Oracle, SQL Server, Informix</li>
                          <li>PosgreSQL, MySQL</li>
                          <li>MongoDB, DynamoDB, Firestore</li>
                          <li>SQLite, H2, HSQLDB</li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-12 col-sm-6 col-xl-4 my-2">
              <div class="card">
                  <div class="card-body">
                      <h5 class="ng-star-inserted">Webapp servers &amp; OS's</h5>
                      <ul >
                          <li>JBoss, Glasfish, Tomcat, WebLogic, WebSphere, NodeJS</li>  
                          <li>MacOS, iOS, Android</li>
                          <li>Linux: CentOS, Ubuntu</li>
                          <li>Windows</li>
                      </ul>
                  </div>
              </div>
          </div>    
          <div class="col-12 col-sm-6 col-xl-4 my-2">
              <div class="card">
                  <div class="card-body">
                      <h5 class="ng-star-inserted">Other technologies</h5>
                      <ul>
                          <li>OAuth2, Auth0, Clearturst, SAML</li>
                          <li>Servlet API, JSP, JMS, EJB's</li>
                          <li>XML, X-Path, Schemas, XSLT </li>                    
                          <li>PgAdmin, SQuirreL SQL, TOAD</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
    <div class="toolbox-gallery">
      <dx-gallery
        width="100%"
        height="100%"
        [dataSource]="logos"
        [loop]="true"
        [initialItemWidth]="250"
        [showIndicator]="false"
        [showNavButtons]="true"
        [swipeEnabled]="false"
        >
        <div *dxTemplate="let logo of 'item'">
          <div class="logo-img"><img [src]="logo" alt="..."></div>
        </div>
      </dx-gallery>
    </div>
  </div>
  <div class="hl"></div>
  <div class="technical-strengths">
    <div class="row content-row">
      <div class="col-5 grey strength-container">
        <h5 class="title">Technical Strengths</h5>
        <div class="list-group-item">Solution Architecting using Java/JEE patterns and techniques.</div>
        <div class="list-group-item">Application Design and Development.</div>
        <div class="list-group-item">Data Model Design and Data Analysis.</div>
        <div class="list-group-item">Discover and Implement Integration Strategies.</div>
        <div class="list-group-item">Testing and Troubleshooting.</div>
      </div>
      <div class="col-5 yellow strength-container">
        <h5 class="title">Non-Technical Strengths</h5>
        <div class="list-group-item">Passion for challenges and technology</div>
        <div class="list-group-item">Leadership-by-example and Mentoring and Coaching junior team members</div>
        <div class="list-group-item">Communication Skills (Oral, Written, and Presentation)</div>
        <div class="list-group-item">Problem Analysis and Problem Solving</div>
        <div class="list-group-item">Clear and Concise Documentation</div>
  
      </div>
    </div>
  </div>
</div>

<!-- <div class="skills">
  <dx-gallery
    [loop]="true"
    [showNavButtons]="true"
    [showIndicator]="true"
  >
    <dxi-item>
      <div *dxTemplate class="gallery-item">
        <div class="row content-row">
          <div class="col-3 title"><p>CORE SKILLS</p></div>
          <div class="col-9">
            <div class="row square-row">
              <div class="col-4 square yellow">
                <div class="square__title"><b>Experienced Technical Team Leader</b></div>
                <div class="square__subtitle"><p>Great at team building, coaching, training (formal and informal), and technical, customer, product, and maintenance management.</p></div>
              </div>
              <div class="col-4 square">
                <div class="square__title"><b>Capable Agile Leader</b></div>
                <div class="square__subtitle"><p>10+ years of involvement with Agile development projects. Served as Product Owner, SCRUM Master, and/or Team Member. Experience with building and grooming backlogs, managing Daily SCRUM activities, Sprint Planning, Sprint Review, and Sprint Retrospective meetings. Also, experienced using Agile management tools such as Atlassian toolset for project and code management.</p></div>
              </div>
              <div class="col-4 square yellow">
                <div class="square__title"><b>Requirements Analysis & Solution Architecting</b></div>
                <div class="square__subtitle"><p>Ability to interact with Architects, Project Managers, Business Analysts, and Software Developers to create valuable and maintainable customer solutions.</p></div>
              </div>
            </div>
            <div class="row square-row">
              <div class="col-4 square">
                <div class="square__title"><b>Experienced in Application Modernization</b></div>
                <div class="square__subtitle"><p>Proven track record of rearchitecting applications for the cloud. Excellent understanding of Serverless technologies, and migrating monolithic applications to the cloud-based Micro-Services</p></div>
              </div>
              <div class="col-4 square yellow">
                <div class="square__title"><b>Strict devotion to maintaining Quality Standards</b></div>
                <div class="square__subtitle"><p>Developing Best Practices for development teams, Quality Assurance teams, and architecture teams.</p></div>
              </div>
              <div class="col-4 square">
                <div class="square__title"><b>Excellent presentation, written, and oral skills</b></div>
                <div class="square__subtitle"><p>Ability to communicate technical issues to non-technical people.</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </dxi-item>

    <dxi-item>
      <div *dxTemplate class="logo-gallery-item">
        <div class="row">
          <div class="col-8">
            <div>FULL STACK DEVELOPMENT</div>
      
          </div>
        </div>
      </div>
    </dxi-item>
  </dx-gallery>
</div> -->





<!-- <h5>Skills</h5>
<b>Understanding a person's skill is more than getting a list of the tools with which they have worked.</b>
<b>The following are my Core Skills, along with listing Technical Prowess and my Non-Technical (Soft Skills), and finally, a list of the tolls I have worked with over the years.</b>
<dx-tabs
    #withText
    [width]="'%100'"
    [selectedIndex]="selectedIndex"
    (onSelectionChanged)="showTab($event)"
    [dataSource]="tabs">
</dx-tabs>

<div class="row justify-content-md-center my-2" *ngIf="selectedIndex == 0">
    <div class="col-12 col-md-12 col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">My Core Skills</h4>
            </div>            
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <b>Experienced Technical Team Leader</b> <p>Great at team building, coaching, training (formal and informal), and technical, customer, product, and maintenance management.</p>
                </li>
                <li class="list-group-item">
                    <b>Capable Agile Leader.</b> 
                    <p>10+ years of involvement with Agile development projects. Served as Product Owner, SCRUM Master, and/or Team Member. Experience with building and grooming backlogs, managing Daily SCRUM activities, Sprint Planning, Sprint Review, and Sprint Retrospective meetings. Also, experienced using Agile management tools such as Atlassian toolset for project and code management.</p>
                </li>
                <li class="list-group-item">
                    <b>Superb requirements analysis and solution architecting skills.</b> 
                    <p>Ability to interact with Architects, Project Managers, Business Analysts, and Software Developers to create valuable and maintainable customer solutions.</p>
                </li>
                <li class="list-group-item">
                    <b>Experienced in Application Modernization. </b> 
                    <p>Proven track record of rearchitecting applications for the cloud. Excellent understanding of Serverless technologies, and migrating monolithic applications to the cloud-based Micro-Services</p>
                </li>
                <li class="list-group-item">
                    <b>Strict devotion to maintaining Quality Standards. </b> 
                    <p>Developing Best Practices for development teams, Quality Assurance teams, and architecture teams.</p>
                </li>
                <li class="list-group-item">
                    <b>Excellent presentation, written, and oral skills. </b> 
                    <p>Ability to communicate technical issues to non-technical people. </p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row justify-content-md-center my-2" *ngIf="selectedIndex == 1">
    <div class="col-12 col-md-12 col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Technical Strengths</h4>
            </div>            
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Solution Architecting using Java/JEE patterns and techniques.</li>
                <li class="list-group-item">Application Design and Development.</li>
                <li class="list-group-item">Data Model Design and Data Analysis.</li>
                <li class="list-group-item">Discover and Implement Integration Strategies.</li>
                <li class="list-group-item">Testing and Troubleshooting.</li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-md-12 col-xl-12 my-2">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Non Technical Strengths</h4>
            </div> 
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Passion for challenges and technology</li>
                <li class="list-group-item">Leadership-by-example and Mentoring and Coaching junior team members</li>
                <li class="list-group-item">Communication Skills (Oral, Written, and Presentation)</li>
                <li class="list-group-item">Problem Analysis and Problem Solving</li>
                <li class="list-group-item">Clear and Concise Documentation</li>
            </ul>
        </div>
    </div>
</div>
<div class="row justify-content-md-center my-1" *ngIf="selectedIndex == 2">
    <div class="col-12 col-sm-6 col-xl-4 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="ng-star-inserted">Programming languages</h5>
                <ul>
                    <li>JAVA / JEE</li>
                    <li>Typescript, JavaScript, Functional programming</li>
                    <li>T/SQL (SQL Server, Sybase), PL/SQL (Oracle)</li>
                    <li>Python and Bash Scripting</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-4 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="ng-star-inserted">Development tools &amp; CI/CD</h5>
                <ul>
                    <li>VSCode, IntelliJ IDE, Eclipse</li>
                    <li>Gradle, Maven, JUnit 4/5, Mockito, Hamcrest</li>
                    <li>Git, Github, Bitbucket, Subversion</li>
                    <li>GitHub Actions, Sonar Qube, Jenkins, Chef</li>
                    <li>Atlassian Tools (Jira, Confluence, Fisheye, Service Desk)</li>
                    <li>Sparx Systems Enterprise Architect</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-4 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="ng-star-inserted">Enterprise Tools &amp; Frameworks</h5>
                <ul>
                    <li>Kafka /streams, RabbitMQ, Elasticache, Memcache, GraphQL</li>
                    <li>Spring Framework - Boot, Data, JPA, Batch, Security, REST, MVC</li>
                    <li>Hibernate ORM, Eclipse Link JPA</li>                    
                    <li>Monitoring - DataDog, Splunk</li>
                    <li>Apache Camel, Drop Wizard</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-md-center" *ngIf="selectedIndex == 2">
    <div class="col-12 col-sm-6 col-xl-8 my-2">
        <div class="card">
            <div class="card-body">
                <h5 class="ng-star-inserted">Cloud and CI/CD</h5>
                <ul>
                    <li>AWS - Lambda, SQS, SNS, Beanstalk, Step-Functions, RDS, DynamoDB, S3, IAM, EKS, Kenesis</li>
                    <li>GCP - Cloud Run, Cloud Functions, App Engine, API Gateway, SQL, Scheduler, IAM, Apigee, PUB/SUB</li>
                    <li>Firebase - Firestore, Firestorage, Hosting, Functions, Git Integration, Auth</li>
                    <li>Artifactory, Docker, Docker Desktop, Kubernetes</li>
                    <li>GitHub Actions, Jenkins</li>
                </ul>
            </div>
        </div>
    </div>        
    <div class="col-12 col-sm-6 col-xl-4 my-2">
        <div class="card">
            <div class="card-body">
                <h5 class="ng-star-inserted">User interface (UI)</h5>
                <ul>
                    <li>AngularJS / Angualar 2+, Node, NPM</li>
                    <li>Async Programming - RxJs (subscriptions, promises, pipes, streams)</li>
                    <li>DevExpress, Html, Css, LESS, SASS</li>
                    <li>Active Objects, Knockout / Durandal</li>
                    <li>jQuery, jqWidgets, JSPlumb, GSON</li>
                    <li>Google Maps API, jChart API, POI</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-md-center my-1" *ngIf="selectedIndex == 2">
    <div class="col-12 col-sm-6 col-xl-4 my-2">
        <div class="card">
            <div class="card-body">
                <h5 class="ng-star-inserted">Databases (SQL &amp; NoSQL)</h5>
                <ul>
                    <li>Oracle, SQL Server, Informix</li>
                    <li>PosgreSQL, MySQL</li>
                    <li>MongoDB, DynamoDB, Firestore</li>
                    <li>SQLite, H2, HSQLDB</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-4 my-2">
        <div class="card">
            <div class="card-body">
                <h5 class="ng-star-inserted">Webapp servers &amp; OS's</h5>
                <ul >
                    <li>JBoss, Glasfish, Tomcat, WebLogic, WebSphere, NodeJS</li>  
                    <li>MacOS, iOS, Android</li>
                    <li>Linux: CentOS, Ubuntu</li>
                    <li>Windows</li>
                </ul>
            </div>
        </div>
    </div>    
    <div class="col-12 col-sm-6 col-xl-4 my-2">
        <div class="card">
            <div class="card-body">
                <h5 class="ng-star-inserted">Other technologies</h5>
                <ul>
                    <li>OAuth2, Auth0, Clearturst, SAML</li>
                    <li>Servlet API, JSP, JMS, EJB's</li>
                    <li>XML, X-Path, Schemas, XSLT </li>                    
                    <li>PgAdmin, SQuirreL SQL, TOAD</li>
                </ul>
            </div>
        </div>
    </div>
</div>  -->