@import "../../../styles/variables.scss";

:host {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #212121;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #b1b1b1;
  height: $footer-height;
  background-color: #ffffff;
  a {
    color: #000000;
    font-weight: 600;
  }
}
