<div class="home">
  <dx-gallery
    [loop]="true"
    [showNavButtons]="true"
    [showIndicator]="true"
  >
    <dxi-item>
      <div *dxTemplate class="gallery-item main">
        <div class="row content-row">
          <div class="col-7 header">
            <div class="header-top">
              <div class="header__pretitle">Welcome to</div>
              <div class="header__title"><span class="sr-span">SR</span>Freed <span class="consulting-span">Consulting</span></div>
            </div>
            <div class="header-bottom">
              <div class="header__subtitle">
                <div class="header__subtitle-description">Java Architect, Backend or Fullstack Developer, and Development Coach</div>
                <div class="header__subtitle-links">
                  <i class="fa-brands fa-linkedin link-icon">
                    <a class="card-link" target="_blank" href="https://www.linkedin.com/in/shane-freed"></a>
                  </i>
                  <i class="fa-brands fa-github link-icon">
                    <a class="card-link"  target="_blank" href="https://github.com/SRFreed-Consulting-LLC"></a>
                  </i>
                  <i class="fa-solid fa-envelope link-icon">
                    <a class="card-link"  target="_blank" href="mailto:shane.freed@srfreedconsulting.com"></a>
                  </i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-5 image-section">
            <img src="/assets/shane_headshot_yellow.PNG" class="card-img-top profile-img" alt="...">
          </div>
        </div>
        <div class="hl"></div>
      </div>
    </dxi-item>
    <dxi-item>
      <div *dxTemplate class="gallery-item about">
        <div class="row content-row">
          <div class="col-6 left-section">
            <div class="section-title">ABOUT</div>
            <div class="about-desc">
              <p>
                My name is Shane Freed and I am a Java Professional with over 25 years of cumulative IT experience.
              </p>
              <p>
                  About 12 years ago, I left the corporate world to delve into the consulting world where I can use my passion for technology to deliver high performance, easy to maintain, extensible products using sound technology and methodology.
              </p>
              <p>
                  During this tenure, I have worked on many projects (ranging from 3 months to 2 years), in many different Business Domains (Financial, Insurance, Telecommunication,  Manufacturing, and Airline Industry), and used about every type of technology in the industry.
              </p>
              <p>
                  I have discovered that my strength and experience is building distributed architectures (leveraging cloud infrastructure), but my REAL love is working in the Fullstack arena, building true Single Page Applications.
              </p>                                
              <p> 
                  Please take a look around and check out the technologies I have used as well as experiences I have encountered over the last 25 plus years!
              </p>
            </div>
          </div>
          <div class="col-6 right-section">
            <div class="list-item"><span class="number">1</span><div class="desc"> Gather and understand Business Requirements</div></div>
            <div class="list-item"><span class="number">2</span><div class="desc"> Use Case Analysis and Design</div></div>
            <div class="list-item"><span class="number">3</span><div class="desc"> Application Design and Development</div></div>
            <div class="list-item"><span class="number">4</span><div class="desc"> Enterprise Integration (EI) designs and development</div></div>
            <div class="list-item"><span class="number">5</span><div class="desc"> Full Stack development using open-source technologies</div></div>
            <div class="list-item"><span class="number">6</span><div class="desc"> Full software development life cycle (SDLC). Conception to Delivery</div></div>
          </div>
        </div>
      </div>
    </dxi-item>
    <dxi-item>
      <div *dxTemplate class="gallery-item manifesto">
        <div class="row content-row">
          <div class="col-7 left-section">
            <div class="title">A Dedication to <br><em class="font-normal">Responsible</em> Development</div>
            <div class="subtitle"><span class="sr-span">SR</span>Freed <span class="consulting-span">Consulting</span></div>
          </div>
          <div class="col-5 section-center right-section">
            <ul>
              <div class="desc"><span>»</span><div class="text">Proper Planning Prevents Poor Performance!</div></div>
              <div class="desc"><span>»</span><div class="text">Technical flexibility is the key to project success.</div></div>
              <div class="desc"><span>»</span><div class="text">More time planning means less time developing/re-developing.</div></div>
              <div class="desc"><span>»</span><div class="text">Establish and follow standard Development techniques.</div></div>
              <div class="desc"><span>»</span><div class="text">Don't shy away from technology... Learn Something New!</div></div>
              <div class="desc"><span>»</span><div class="text">Whatever is developed, must be developed for future developers to support.</div></div>
            </ul>  
          </div>
        </div>
      </div>
    </dxi-item>
  </dx-gallery>
</div>





<!-- <div class="content-block" style="font-family: Roboto, RobotoFallback, 'Noto Kufi Arabic', Helvetica, Arial, sans-serif;">
    <div class="row">
        <div class="col-4">

            <div class="card" style="width: 24rem;">
                <img src="/assets/shane_headshot.jpg" class="card-img-top" alt="..." width="45%">
                <div class="card-body">
                  <h5 class="card-title">Java Architect, Backend or Fullstack Developer, and Development Coach</h5>
                </div>
                <div class="card-body">
                    <div class="row">                
                        <div class="col-12">
                            LinkedIn: <a class="card-link" target="_blank" href="https://www.linkedin.com/in/shane-freed">https://www.linkedin.com/in/shane-freed</a>
                        </div>
                        <div class="col-12">
                            Email: <a class="card-link"  target="_blank" href="mailto:shane.freed@srfreedconsulting.com">shane.freed@srfreedconsulting.com</a>
                        </div>
                        <div class="col-12">
                            Github: <a class="card-link"  target="_blank" href="https://github.com/SRFreed-Consulting-LLC">https://github.com/SRFreed-Consulting-LLC</a>
                        </div>
                    </div>  
                </div>
              </div>
        </div>
        <div class="col-8">    
            <div class="card">
                <div class="card-body">
                    <div class="row">                
                        <div class="col-12">    
                            <h3>Welcome to SRFreed Consulting!</h3>
                        </div>
                    </div>                    
                    <div class="row">                
                        <div class="col-12" style="font-size: 13pt;">                
                            <b>
                                <p>
                                    My name is Shane Freed and I am a Java Professional with over 25 years of cumulative IT experience.
                                </p>
                                <p>
                                    About 12 years ago, I left the corporate world to delve into the consulting world where I can use my passion for technology to deliver high performance, easy to maintain, extensible products using sound technology and methodology.
                                </p>
                                <p>
                                    During this tenure, I have worked on many projects (ranging from 3 months to 2 years), in many different Business Domains (Financial, Insurance, Telecommunication,  Manufacturing, and Airline Industry), and used about every type of technology in the industry.
                                </p>
                                <p>
                                    I have discovered that my strength and experience is building distributed architectures (leveraging cloud infrastructure), but my REAL love is working in the Fullstack arena, building true Single Page Applications.
                                </p>                                
                                <p> 
                                    Please take a look around and check out the technologies I have used as well as experiences I have encountered over the last 25 plus years!
                                </p>
                            </b>
                        </div>
                    </div>
                    <div class="row">                
                        <div class="col-6">  
                            <div class="card">
                                <div class="card-body">
                                    <div class="row text-center mb-2">                
                                        <div class="col-12 red-text">
                                            <b>Technical Focus</b>
                                        </div>
                                    </div>
                                    <div class="row text-left">                
                                        <div class="col-12">                            
                                            <ul>
                                                <li>Gather and understand Business Requirements</li>
                                                <li>Use Case Analysis and Design</li>
                                                <li>Application Design and Development</li>
                                                <li>Enterprise Integration (EI) designs and development</li>
                                                <li>Full Stack development using open-source technologies</li>
                                                <li>Leverage CI/CD tools to expedite development.</li>
                                                <li>Full software development life cycle (SDLC). Conception to Delivery.</li>
                                            </ul>                                
                                        </div>
                                    </div> 
                                </div>
                            </div>                            
                        </div>
                        <div class="col-6">  
                            <div class="card">
                                <div class="card-body">
                                    <div class="row text-center mb-2">                
                                        <div class="col-12 red-text">
                                            <b>My Manifesto</b>
                                        </div>
                                    </div>
                                    <div class="row text-left">                
                                        <div class="col-12">                            
                                            <ul>
                                                <li>Proper Planning Prevents Poor Performance!</li>
                                                <li>Technical flexibility is the key to project success.</li>
                                                <li>More time planning means less time developing/re-developing.</li>
                                                <li>Establish and follow standard Development techniques.</li>
                                                <li>Don't shy away from technology... Learn Something New!</li>
                                                <li>Whatever is developed, must be developed for future developers to support</li>
                                            </ul>                                
                                        </div>
                                    </div> 
                                </div>
                            </div>                        
                        </div>                                                
                    </div> 
                </div>
            </div>          
        </div>
    </div>
</div> -->
