Shane Freed								31 Riverstone Dr
											Senioa, GA 30276
											shane.freed@gmail.com											678-458-0658
Summary
Senior Developer/Java Architect/Technical Leader with over 25 years of cumulative IT experience with a passion for multi-tier, data intensive, integration projects. Seeking opportunity to be a part of a team that successfully delivers a highly performant, easy to maintain, extensible project or product using sound technology and methodology.
Technical strengths
Solution Architecting, and Application Design/Development using Java/JEE patterns and techniques (front-end, middle-tier, and back-end development).
Non-technical strengths
Passion for challenges and technology, Leadership-by-example, Mentoring and Coaching junior team members, Communication Skills (Oral, Written, and Presentation), and Problem Analysis and Problem Solving.
Technical Focus
Full Stack development using open-source technologies, Web 2.0 Technologies, Portal/Portlet development, Application Design and Development, Enterprise Integration (EI) designs and development, and full software development life cycle (SDLC).
Domain Experience
Experience in Financial Industry (Banking, Insurance), Customer Insurance Industry, Telecommunication’s Industry, Manufacturing Industry, and Airline Industry.
Skills
•	Experienced Technical Team Leader. Great at team building, coaching, training (formal and informal), and technical, customer, product, and maintenance management. 
•	Capable Agile Leader. 5+ years of involvement with Agile development projects. Served as Product Owner, SCRUM Master, and/or Team Member. Experience with building and grooming backlogs, managing Daily SCRUM activities, Sprint Planning, Sprint Review, and Sprint Retrospective meetings. Also, experienced using Agile management tools such as Atlassian toolset for project and code management.
•	Superb requirements analysis and solution architecting skills. Ability to interact with Architects, Project Managers, Business Analysts, and Software Developers to create valuable and maintainable customer solutions.
•	Experienced in project planning and estimations (both Strategic and Tactical), requirement scope planning, resource planning and scheduling, and team coordination. Outstanding problem-solving skills.
•	Strict devotion to maintaining Quality Standards, developing Best Practices for development teams, Quality Assurance teams, and architecture teams.
•	Excellent presentation, written, and oral skills. Ability to communicate technical issues to non-technical people.
 
Career Highlights
SRFreed Consulting, LLC – Managing Director
After years of working in public and private companies, I started my own consulting business in 2012. Since then, I have worked with several different customers on projects of many different sizes. During this time, I have served in many different roles to lead or augment existing teams.
•	Tek Stream (Senior Backend Java Developer)
Served as a Senior Backend Java Developer on Pathways 2.0 Software team. Main Responsibility was to drive the design and implementation of Backend APIs used for Custom Training Software built for Chick-Fil-A.

Technologies
AWS (Dynamo DB, Secrets Manager, EKS), Maven, Jenkins, Docker, Java 8 Streams, Java Lambda, Spring (Boot, Data, Security, REST Services), Junit, Mockito

•	Deloitte (Senior Java Development)
Served as a Senior Java Developer working on the Convergent Project. Responsible for processing asynchronously received messages from messaging service, accessing business rules for each transaction, and dispositioning of transaction.

Technologies
Spring (Boot, Data, Security, REST Services), RabbitMQ, Camunda BPM, Maven, Jenkins, AWS (RDS, S3, Lambda) GraphQL

•	Northwestern Mutual (Senior Testing Consultant)
Served as a Senior Testing Consultant on Shift Left Team. Responsible for engaging with internal development teams to design appropriate testing strategies. Required to know and understand all technologies used on each project.

Technologies
Sonar Qube, Gradle, Maven, Jacoco

•	Chewy.com (Senior Java Developer)
Served as a Senior Application Developer on Customer Service project. Responsible for building and enhancing SQS and SNS topics and queues, data models, and client libraries. Also responsible for building testing infrastructure and suite using AWS Localstack.

Technologies
Spring (Boot, Data, Security, REST Services), Maven, Jenkins, Docker, Java 8 Streams, IntelliJ, AWS (SQS, SNS Lambda), GraphQL

•	JPMorgan Chase (Senior Java Developer)
Served as a Senior Application Developer on customer facing Payment AR/AP platform. Responsible for building and maintaining AR/AP microservices that allowed customers to define their current business structure, define customers, and send out payments using different payment channels.
Technologies
Spring (Boot, MVC, Data, Security, REST Services), Maven, Jenkins, Docker, Java 8 Streams, IntelliJ

•	Alliance Group (Architect, Senior Developer)
Gathered requirements, researched solutions, designed application/system architecture, and developed Agent Portal. Responsible for end-to-end functionality and adoption of portal for all Agents. Additionally, added custom CRM for agents (still in development) to allow agents to maintain their contacts and customers, provide email services, and interface for Agent to Register for conferences, webinars, and contests.

Technologies
Angular 12/13, Firebase (FireStore – no SQL Database, Firebase Auth, Functions) Google Compute Platform, DevExpress Component library, VSC


•	Chick-Fil-A (Java Coach / Senior Java Developer)
Served as a Senior Application Developer on internal Tax Software team. Main Responsibility was to work with 1099 application team to provide aggregated tax reports, tax transaction auditing, and generation of 1099’s for over 3000 vendors working with Chick-Fil-A. Also worked on Tax Audit Software to provide real-time and offline tax calculations for daily transactions numbering in the 1.5 million to 2 million per day range.

Technologies
AWS (Beanstalk, Elasticache, Lambda, Kenesis, SQS, SNS), Maven, Jenkins, Docker, Java 8 Streams, Java Lambda, Spring (Boot, MVC, Data, Security, REST Services), Sabrix Tax Calculation software, Junit, Mochito

•	Definition 6 (Enterprise Architect)
Served as an Enterprise Architect Consultant on Project for International Marketing Centers. Responsible for architecting Enterprise Services Layer and Multi Venue Digital Platform and integration strategy for newly acquired America’s Mart. Responsible for creating all Architecture Models required for acceptance through Architecture 1 and Architecture 2 toll gates (CHEF Methodology). The list of artifacts required include Business Domain Model, Application Domain Model, Component Models for each system, Deployment Model for each system. Models were built for both AWS and Azure deployment. Designed Digital Identity platform using AWS Cognito. Planned out day to day development activities to build Enterprise Services layer. Planned, designed, and developed strategies for integrating external systems into Enterprise Services Layer.
Technologies
Apache Camel, AWS Cognito, Sparx Systems Enterprise Architect, Spring (Boot, DATA, Security), Hippo CMS, Angular 2+

•	Forty8FiftyLabs (Director of Development)
Served as Director of Development for startup company focused on delivering strategic visions for DevOps and Agile practices. Led 5-person team in developing tools to organizations wishing to Automate their DevOps, CI/CD Pipeline and Support and Ticketing systems. Managed day to day work activity for team and drove technical vision behind tools being developed. Built dashboards to help monitor data from multiple sources using Data Dog. Worked primarily on building Plugins for Atlassian products (JIRA / JSD) for the Cloud and for local Atlassian installations. Built Custom data dog connectors to provide customer insight to infrastructure issues that tied into Jira Service Desk ticketing system.
Technologies
Atlassian SDK, Spring (Boot, IOC, Data), Hibernate, Docker, Active Objects, Knockout / Durandal, Data Dog, JIRA Service Desk, Junit, Mochito

•	OSG
Served on 2 different projects with OSG.
o	Caesars Entertainment (Senior Java Architecture/Development Consultant)
Served as Senior Developer on 7-person Application Development team. Served as SCRUM Team member to provide guidance to team on System and Application Architecture in creating a complex multi-threaded, multi-tiered, Message driven application that listens for JMS Messages on a Tibco Service Bus and performed transaction driven data base updates to Patron records for database containing over 50 million records.
Provided a Batch Import Framework to allow affiliates to upload Patron updates via a batch file. Designed and built Message Driven EJB’s for the Bank Service to provide Import functionality. Refactored 3 other MDB’s to allow Import MDB to leverage existing services. Built a customer Task Queue Service wrapper for the WebSphere Task Manager to provide a common framework for executing Runnable objects on a separate managed thread. Helped to design a Customer Unified Testing Framework that tested data integrity from Transactions, transaction processing accuracy, and different JMS scenarios.
Technologies
Java MDB, Eclipse, WebSphere 7, JAXB (Data Model Schema), Spring, Hibernate, Informix DB, SVN, Jenkins, Maven, JIRA, Junit, Mochito
o	**Confidential Client**  (Senior Java Architecture/Development Consultant)
Consulted on a startup project with Goldman to build an online money lending application. Participated as a SCRUM team member to provide guidance on technologies, services, design patterns, and risks for building a Consumer Loan Platform. Provided an initial System Architecture Design along with phase 1 application documentation and bootstrap project.

Built Enterprise Services layer for online money lending application. Designed CRUD based REST API services using Apache Camel (running on Spring Boot) and Drop Wizard.

Technologies
Apache Camel, CRUD REST, Hibernate, Spring (Core/Data), Mongo DB, Drop Wizard, Docker. JUnit, Mockito
•	FHLB of Atlanta (Senior Java Architecture/Development Consultant)
Served as both an Architect and Developer to design and build a multi-tiered, Web Service / Rest Service based user administration system to manage Local and Remote user’s permissions to enterprise applications. Participated as SCRUM Master and Team Member. This application was an integration project responsible for integrating both custom, and 3rd party applications, while introducing a new development Framework for the company.

Technologies
Java 6, EJB 2 (Session and MDB), JMS, Weblogic 10, JBoss, Hibernate, Cleartrust, Maven, Jenkins, Docker, Junit, Mochito
•	Nexidia (Lead Java Developer / Technical Architect)
Served as Lead Developer of 3-person SCRUM team. Architected a complex multi-threaded, multi-tiered, MVC workflow-based application to extract required media and meta data files from customer environments to be processed by reporting and processing engine at Nexidia.
Designed and built a management interface as well as a remote server interface to allow for distributed processing on remote sites. Built custom heartbeat protocol to monitor distributed servers through secure channels. Built custom designed workflow interface to graphically layout workflow components and describe how terabytes of content was moved from Customer site to Nexidia. Provided an alerting system to allow remote servers to send alerts to designated administrators upon encountering an Error, or when a defined error threshold had been exceeded.
Technologies
Java 6 (Executor Service, Timer Tasks), Eclipse Juno, Glassfish 4.0, jQuery 1.7.2, jqWidgets, JSPlumb, GSON, Eclipse Link JPA, Postgres 9.2, Junit, Mochito, SVN, Bamboo
•	AT&T (Lead Java Developer)
Served as Lead Developer/Team Lead of internal 5-person Web Development team. Served as SCRUM Team Member and SCRUM Master to create a Rich interface-web based application for executives to view reports on the web or on a mobile device.
Technologies
Java 6 (Servlets/JSP), Eclipse, jQuery 1.7.2, AJAX only, Spring (IOC, Security), Hibernate, Oracle 11g
Jacada, Inc – Senior Technical Lead / Enterprise Solution Architect 
Served as 1 of 2 Solution Architects reporting directly to Director of Professional Services. Responsible for leading 3 – 4 project teams of varying sizes. Provided strategic project guidance and real-life tactical portal solutions while managing company policies, business methodologies, and technical roadmap. 
•	Interacted with Account Executives and Sales teams to provide Statement of Work scoping for project proposal.
•	Interacted with customers to help guide customer expectations and prevent scope creep.
•	Guided Project teams heavily to manage customer requirements.
•	Identified possible project risks and provided risk mitigation plans.
•	Managed remote teams from Israel and India responsible for project deliverables. Held daily meetings to ensure remote teams were on track with requirements, technical details, and schedule.
•	Interacted with Product Management teams to formulate product vision based upon current and foreseeable customer needs.
•	Provided direct estimations or led teams to provide project estimations including task and resource allocation estimates.
•	Advised Sales teams on RFP responses, solution proposals, and design estimations.
•	Provided technical documentation to customer describing proposed solution to include Network / Physical / Portal architecture diagrams, DFD diagrams, integration diagrams, and documented source code (meaningful Java Docs).
•	Provided technical design documentation to development teams to include component architecture diagrams, class diagrams, interaction diagrams, page flow diagrams, and configuration schematics.
•	Provided guidance, mentoring, and supervision to technical leads on latest technologies, methodologies, and design patterns.

United States Marine Corps – Sergeant – Infantry / Company Training NCO / Platoon Sergeant
Platoon Sergeant for Headquarters Platoon, 8th Marines, USMC. Designed and Administered Company Training database.


